:root{
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body {
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white; 

}

/*header*/

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    
}

header .logo {
    margin-left: 20px;
    color:salmon;
    font-family: 'Arial Black', Times;
    font-size: 20px;
} 

header .logo .flix {
    color:chartreuse;
}

header nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;

}

header nav a:hover {
    color: #aaa;
}

/*filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/imgprincipal.jpg');

    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: -80px;
}

.filme-principal .container {
    width: 90%;
    margin-left: 20px;
    margin-top: 80px;
  
}

.filme-principal .descricao {
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 6px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 50px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titulo-filmes {
    font-weight: bold;
    font-size: 20px;

    margin-top: 5%;
}

/*BOTÃO*/
.botao {
    background-color: rgba(0,0,0,.50);
    border: none; 
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4%;

    cursor: pointer;
    transition: .3s ease all;
}

.botao1 {
    background-color:cornsilk ;
    color: black;
}

.botao1 i {
    color: black;
}

.botao:hover {
    opacity: 0.8;
}

.botao i{
    margin-right: 8px;
}

.item:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*Outros filmes*/

.carrossel-filmes {
    margin: 0px 22px;

}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    margin-top: 1px;
}

.item {
    width: 100%;
}
